/*
File: login.css
Authors: Harsh Patel, Matthew Braden
Last Edited: October 18, 2019
Version: 2.0
*/

h3 {
  text-align: center;
  font-weight: bold;
}

/*NAVBAR STYLES*/
nav {
  background-color: #f8f9fa;
  opacity: 0.8;
}

#home {
  margin-left: 190px;
}

#logo {
  margin-left: 10px;
}

.link{
  font-weight: 500;
  font-size: 1.3rem;
  color: #000000;
}

.nav-item{
  padding: 0 10px;
}

li.active {
  border-bottom: 3px solid #ee6e73;
}

#brand {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 10px;
  color: black;
}

img {
  height: 50px;
  width: 70px;
  margin-top: 10px;
}

.icon-black {
    color: black;
}
/*NAVBAR STYLES END*/

/*LOGIN FORM STYLES*/
.AccountRedirect{
  text-align: center;
  font-weight: bold;
}

.validate{
  text-align: center;
}
/*LOGIN FORM STYLES END*/

/*INFO CARD STYLES*/
.info-card{
  margin: auto;
  width: 60%;
  color: black;
  text-align: center;
  margin-top: 30px;
}

.card-title{
  margin: auto;
  font-weight: 500;
}

.card-panel{
  padding: 0.3rem 0.1rem;
}

.card-logo{
  display: inline;
}

.person{
  float: left;
  margin-left: 10px;
}
/*INFO CARD STYLES END*/

/*Centering button*/
.submit-btn{
  margin: auto;
}

/*FOOTER STYLES*/
#footer {
  margin-top: 60px;
  z-index: 1;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 75px;
  border-top: 1px solid #ee6e73;
}

.footerH6{
  font-size: 0.95rem;
}
/*FOOTER STYLES ENDS*/

/*Mobile Friendly*/
@media only screen and (max-width: 768px) {
  .col {
    width: 100%;
    display: block;
  }

  .submit-btn {
    width: 35%;
    margin: auto;
  }

  .login-form{
    width: 100%;
  }

  .info-card {
  margin: auto;
  width: 90%;
  color: black;
  text-align: center;
  margin-top: 30px;
  }

}
