/*
File: search.css
Authors: Harsh Patel, Matthew Braden
Last Edited: October 18, 2019
Version: 2.0
*/

h3 {
  text-align: center;
}

h5 {
  font-weight: bold;
}

a{
  color: white;
}

/*NAVBAR STYLES*/
nav {
  background-color: #f8f9fa;
  opacity: 0.8;
}

#home {
  margin-left: 190px;
}

#logo {
  margin-left: 10px;
}

.link{
  font-weight: 500;
  font-size: 1.3rem;
  color: #000000;
}

.nav-item{
  padding: 0 10px;
}

li.active {
  border-bottom: 3px solid #ee6e73;
}

#brand {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 10px;
  color: black;
}

img {
  height: 50px;
  width: 70px;
  margin-top: 10px;
}

.icon-black {
    color: black;
}
/*NAVBAR STYLES END*/

/*INFO CARD STYLES*/
.info-card{
  margin: auto;
  width: 70%;
  color: black;
  text-align: center;
  margin-top: 30px;
}

.card-title{
  margin: auto;
  font-weight: bold;
}

.card-panel{
  border-radius: 0.3rem;
  padding: 4rem 2rem;
}

.card-logo{
  display: inline;
}

.landmark-btn{
  color: #343a40;;
  border: 1px solid #343a40;;
  border-radius: 0.3rem;
  background-color: transparent;
}

.landmark-btn:hover{
  color: white;
  background-color: #343a40;;
}
/*INFO CARD STYLES END*/

/*Centering the search buttom*/
.search-btn{
  margin: auto;
}

/*Location icon to color red*/
.gps{
  color: red;
}

/*FOOTER STYLES*/
#footer {
  margin-top: 70px;
  z-index: 1;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 75px;
  border-top: 1px solid #ee6e73;
}

.footerH6{
  font-size: 0.95rem;
}
/*FOOTER STYLES END*/

/*Mobile Friendly*/
@media only screen and (max-width: 768px) {
  .col {
    width: 100%;
    display: block;
  }

  .info-card {
  margin: auto;
  width: 95%;
  color: black;
  text-align: center;
  margin-top: 30px;
  }

  .search-btn {
    width: 35%;
    margin: auto;
  }

}
